.header {
	margin: 22px;
	text-align: center;
}

.search {
	margin-bottom: 20px;
	width: 100%;
	max-width: 500px;
	margin-bottom: 15px;
}

.progress {
	background-color: gold;
}

.head {
	background-color: #eebc1d;
}

.headCell {
	color: black;
	font-weight: 700;
}
