.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	background-color: #383645;
	max-width: 150px;
	margin: 0 auto;
}

.img {
	margin-bottom: 15px;
}

.maintext,
.subtext {
	color: #c2c2c2;
	font-weight: 600;
}

.maintext {
	margin-bottom: 5px;
}

.subtext {
	font-size: 18px;
	font-weight: 500;
}

.down {
	color: #dc2626;
}

.up {
	color: #16a34a;
}
