.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.img {
	margin-bottom: 15px;
}

.maintext,
.subtext {
	color: #222;
	font-weight: 600;
}

.maintext {
	margin-bottom: 5px;
}

.subtext {
	font-size: 22px;
	font-weight: 500;
}

.down {
	color: red;
}

.up {
	color: darkgreen;
}
