@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;800&display=swap");

/*
Palatte
#222222
#c2c2c2
#00a97f
#383645

*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	font-family: "Montserrat", sans-serif;
}

a:link,
a:visited {
	text-decoration: none;
	color: #00a97f;
}

a:hover,
a:active {
	text-decoration: underline;
}

.App {
	background-color: #222222;
	color: #eee;
	min-height: 100vh;
}
